<section
	class="review"
	id="<%= review._id %>"
	<%= review.element ? `data-element=${review.element}` : '' %>
	<%= review.handled ? 'data-handled' : '' %>
	<%= user._id == review.userId && !review.handled ? 'data-edit' : '' %>
	>

	<h3>Review</h3>
	<date><%= new Date(review.timestamp).toLocaleString() %></date>
	<button data-close-review>X</button>

	<% if (user._id == review.userId && !review.handled)  { %>
		<%- include('./edit-review-form.ejs', {review: review}); %>
	<% } else { %>
		<p><%= review.review %></p>

		<p>Type:
			<% if (review.type === 'syntax') { %>
				Grammaticaal
			<% } else if (review.type === 'content') { %>
				Inhoud
			<% } else if (review.type === 'style') { %>
				Stijl
			<% } else if (review.type === 'layout') { %>
				Opmaak
			<% } else { %>
				<%= review.type %>
			<% } %>
		</p>

		<% if (review.accepted) { %>
			<p class="highlight-success"></em>✓ Deze review is geaccepteerd</em></p>
		<% } %>

		<% if (review.lastUpdate && article.lastUpdate > review.lastUpdate) { %>
			<p><em>Dit artikel is bewerkt nadat deze review is geschreven.</em></p>
		<% } else if (article.lastUpdate > review.timestamp) { %>
			<p><em>Dit artikel is bewerkt nadat deze review is geschreven.</em></p>
		<% } %>
	<% } %>
	<% if (user._id != review.userId) { %>
		<a href="/tour/review">Wat is dit?</a>
	<% } %>
	<% if (article.authorId == user._id && !review.accepted) { %>
		<footer>

			<% if (!review.handled) { %>

				<% if (!edit) { %>
					<a class="btn" href="/articles/edit/<%=article._id %>#<%= review._id %>">Doorvoeren</a>
				<% } else { %>
					<form method="POST" action="/review/accept/<%= article._id %>/<%= article.author._id %>/<%= review._id %>">
						<input type="submit" value="Doorgevoerd"/>
					</form>
				<% } %>

				<form method="POST" action="/review/close/<%= article._id %>/<%= article.author._id %>/<%= review._id %>/<%= edit ? true : false %>">
					<input type="submit" class="<%= review.handled ? '' : 'secondary' %>" value="Sluiten"/>
				</form>

			<% } else if (!review.accepted) { %>
				<form method="POST" action="/review/reopen/<%= article._id %>/<%= article.author._id %>/<%= review._id %>/<%= edit ? true : false %>">
					<input type="submit" class="<%= review.handled ? '' : 'secondary' %>" value="Heropen"/>
				</form>
			<% } %>

		</footer>
	<% } %>
</section>