<li class="review" id="<%= review._id %>">
	<p><%= review.content %></p>
	<p><%= review.review %></p>
	<span>Type: <%= review.type %></span>
	<% if (typeof(footer) !== 'undefined') { %>
		<footer>
			<% if (!review.accepted) { %>
				<form method="POST" action="/review/close/<%= article._id %>/<%= article.author._id %>/<%= review._id %>">
			<% } else { %>
				<form method="POST" action="/review/reopen/<%= article._id %>/<%= article.author._id %>/<%= review._id %>">
			<% } %>
				<input type="submit" class="secondary" value="<%= review.accepted ? 'Heropen' : 'Sluiten' %>"/>
				<% if (!review.accepted) { %>
					<a class="btn" href="/articles/edit/<%=article._id %>#<%= review._id %>">Doorvoeren</a>
				<% } %>
			</form>
		</footer>
	<% } %>
</li>