<article class="article" data-review="<%= typeof(review) !== 'undefined' ? 'true' : 'false' %>">
	<% if (typeof(noTitle) === 'undefined') { %>
		<h1><%- article.title %></h1>
	<% } %>
	<%- article.content %>
	<% if (typeof(footer) !== 'undefined' && typeof(user) !== 'undefined') { %>
		<footer>
			<a class="btn" href="/review/<%= article._id %>">Review</a>
			<% if (user._id === article.authorId) { %>
				<a class="btn" href="/articles/edit/<%= article._id %>">Bewerk</a>
			<% } %>
		</footer>
	<% } %>
</article>