<article class="article" data-review="<%= typeof(review) !== 'undefined' ? 'true' : 'false' %>">
	<% if (typeof(noTitle) === 'undefined') { %>
		<h1><%- article.title %></h1>
	<% } %>
	<%- article.content %>
	<% if (typeof(footer) !== 'undefined') { %>
		<footer>
			<a href="/review/<%= article._id %>">Review</a>
			<a href="/articles/edit/<%= article._id %>">Bewerk</a>
		</footer>
	<% } %>
</article>