<% extend("../_base/layout") %>

<section>
	<% articles.map(article => { %>
		<article>
			<a href="articles/single/<%= article._id %>">
				<h2><%= article.title %></h2>
			</a>
			<p>Geschreven op <date><%= new Date(article.timestamp).toLocaleString('NL-nl') %></date> door <%= article.author.name.first %> <%= article.author.name.last %></p>
		</article>
	<% }); %>
</section>